.contato {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas:

    "title title title"

    "contato social link";
    grid-template-rows: auto 1fr;

    justify-content: space-between;
    align-items: center;
}

.contato-container {
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contato-title {
    font-size: 1.5rem;
}

.contato-item {
    display: flex;
    gap: 16px;
}


.social-container {
    grid-area: social;
    display: flex;
    gap: 32px;
    font-size: 1.5rem;
}

.social-item {
    width: 64px;
    height: 64px;
    background-color: var(--icon-color);
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: color 0.7s;
}

.social-item:hover {
    color: dimgray;
    box-shadow: inset 0px 0px 8px lavender;
}

.link-container {
    grid-area: link;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}

.link-title {
    font-size: 1.5rem;
}

.section-title {
    grid-area: title;
    font-size: clamp(2rem, 18vw, 14rem);
    font-weight: 700;
    text-align: center;
    background: linear-gradient(rgb(129, 129, 129), #000);
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 960px) {

    .contato {
        width: 540px;
        max-width: 100%;
        grid-template-areas:

        "title title"

        "contato  link"
        
        "social social ";
        grid-template-rows: auto;
        margin-left: 110px;
    }

    .section-title {
        font-size: clamp(2rem, 15vw, 18rem);
        width: 540px;
    }

    .contato-container {
        width: 300px;
    }

    .link-container {
        width: 100px;
        
    }

    .social-container {
        max-width: 500px;
        width: 100%;
    }

}

@media (max-width: 370px) {

  

    .contato {
        width: 368px;
        max-width: 100%;  
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
        height: 200vh;
        
    }    

    .section-title {
        font-size: clamp(2rem, 15vw, 5rem);
        width: 300px;
        place-self: start;
    }

    .contato-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
        
    }

    .contato-item {
        display: flex;
        
    }

    .social-container {
        display: flex;
        flex-direction: column;
        
    }

    .social-item {
        margin-top: 20px;
        place-self: center;
    }

    .link-container {
        height: 250px;
    }
}
